body {
    background-color: #edefeb;
    
}

.content {
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    
}

.news div{
    display: inline;
    
}

.news div a{
    color: blue;
    padding-left: 5px;
}

.date {
    background-color: #832b5b;
    color: #fff;
    font-size: 10pt;
    padding: 2px;
}

.button {
    background-color: #edefeb;
    color: #000;
    display: inline-table;
}

